<?xml version="1.0"?>
<launch>
    <node name="camera_node" pkg="lampone-madness" type="camera_node.py"  output="log" respawn="false" respawn_delay="0"></node>
    <node name="line_follower" pkg="lampone-madness" type="follower_wrapper.py"  output="log" respawn="false" respawn_delay="0"></node>
    <node name="frame_fetch" pkg="lampone-madness" type="fetch_frame.py"  output="log" respawn="false" respawn_delay="0"></node>

</launch>
